<div class="container">
  <div class="row ">
    <div class="col-2 offset-1 text-center">
      <%= pluralize(@feed_backs.count, 'review') %>
    </div>
    <% if @feed_backs.present? %>
    <div class="col-2 margin-bottom">
      <%= star_format(@average_rate.to_i) %><%= @average_rate.to_f %>
    </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <div class="col-5 align-self-center text-center">
      <%= image_tag @breed.image, size: '230x230' %>
    </div>
    <div class="col-6">
      <p class="font-weight-bold"><%= @breed.name %></p>
      <%= @breed.description %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 text-center font-weight-bold title-text text-info">
      Reviews
    </div>
    <div class="col-2 offset-2 align-self-end text-primary">
      <% if params[:view] == "all" %>
      <%= link_to "view three latest", breed_path(@breed, view: "three")%>
      <% else %>
      <%= link_to "view all", breed_path(@breed, view: "all")%>
      <% end %>
    </div>
  </div>
  <hr>
  <%   @feed_backs.each do |feed_back| %>
  <div class="row">
    <div class="col-2 align-self-center font-weight-bold text-center">
      <%= feed_back.user.user_name %>
    </div>
    <div class="col-9">
      <%= star_format(feed_back.rate) %> | <%= feed_back.time_fomat %><br>
      <%= feed_back.comment %>
    </div>
    <% if current_user == feed_back.user %>
    <div class="col-1">
      <%= link_to "Delete", breed_feed_back_path(@breed,feed_back), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <% end %>
  </div>
  <hr>
  <% end %>
  <% if !@breed.reviewed_by?(current_user) %>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <%= link_to "Leave your review", new_breed_feed_back_path(@breed), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>
